<main role="main" id="about" class="about">
    <div class="container-fluid container-md my-md-3">
        <div class="row  ">
            <div class="col  offset-md-7 justify-content-end">
                <div class=" about-lineify title-chief text-monospace font-weight-bold">关于我们&nbsp;</div>
            </div>
        </div>
        <div class="row  ">
            <div class="col-5  offset-md-7 justify-content-end ">
                <div class="  title-second text-success fs-herbarium-latin-regular mt-4">ABOUT US</div>
            </div>
        </div>
        <ul class="list-unstyled  d-flex flex-column flex-lg-row mt-lg-5  list-group-horizontal-lg flex-lg-wrap">
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center ">
                <div class="pr-3 text-right text-lg-center display-float-purple " style="width: 10rem;">
                    <h5 class="card-title text-purple ">2019年3月</h5>
                    <p class="card-text"><small class="text-muted">成立并组建团队</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%201.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle " alt="...">
                <div class="pr-3 text-right invisible" style="width: 10rem;">
                    <h5 class="card-title">2019年3月</h5>
                    <p class="card-text"><small class="text-muted">成立并组建团队</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center  ml-lg-n4">
                <div class="pl-3 invisible" style="width: 10rem;">
                    <h5 class="card-title ">2019年5月</h5>
                    <p class="card-text"><small class="text-muted">找个毛平台1.0版本上线</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%202.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle" alt="...">
                <div class="pl-3 text-lg-center display-float-blue" style="width: 10rem;">
                    <h5 class="card-title text-blue">2019年5月</h5>
                    <p class="card-text"><small class="text-muted">找个毛平台1.0版本上线</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center  ml-lg-n4">
                <div class="pr-3 text-right text-lg-center display-float-orange" style="width: 10rem;">
                    <h5 class="card-title text-orange">2019年7月</h5>
                    <p class="card-text"><small class="text-muted">毛绒种类数据采集约2万</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%203.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle" alt="...">
                <div class="pl-3 invisible" style="width: 10rem;">
                    <h5 class="card-title">2019年7月</h5>
                    <p class="card-text"><small class="text-muted">毛绒种类数据采集约2万</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center  ml-lg-n4">
                <div class="pl-3 invisible" style="width: 10rem;">
                    <h5 class="card-title ">2019年8月</h5>
                    <p class="card-text"><small class="text-muted">公司入驻上城区科创中心</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%204.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle" alt="...">
                <div class="pl-3 text-lg-center display-float-teal" style="width: 10rem;">
                    <h5 class="card-title text-teal">2019年8月</h5>
                    <p class="card-text"><small class="text-muted">公司入驻上城区科创中心</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center  ml-lg-n4">
                <div class="pr-3 text-right text-lg-center display-float-yellow" style="width: 10rem;">
                    <h5 class="card-title text-yellow">2019年10月</h5>
                    <p class="card-text"><small class="text-muted">公司官网公众号上线</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%205.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle" alt="...">
                <div class="pl-3 invisible" style="width: 10rem;">
                    <h5 class="card-title">2019年10月</h5>
                    <p class="card-text"><small class="text-muted">公司官网公众号上线</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column align-items-center justify-content-center  ml-lg-n4">
                <div class="pl-3 invisible" style="width: 10rem;">
                    <h5 class="card-title">2020年3月</h5>
                    <p class="card-text"><small class="text-muted">找个样平台上线</small></p>
                </div>
                <img src="{{baseurl}}/assets/images/100x100%202.png" style="width: 5rem;
        height: 5rem;
       " class="img-fluid round-circle" alt="...">
                <div class="pl-3 text-lg-center display-float-green" style="width: 10rem;">
                    <h5 class="card-title text-green">2020年3月</h5>
                    <p class="card-text"><small class="text-muted">找个样平台上线</small></p>
                </div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center ml-lg-n4">
                <div style="width:5rem;"></div>
                <div class="line-dashes-svg"></div>
                <div style="width:5rem;"></div>
            </li>
            <li class="d-flex flex-row flex-lg-column  align-items-center justify-content-center">
                <div class="text-monospace" style="width:5rem; color:#007bff">
                    <h6 class="text-center ml-lg-n4">待续</h6>
                </div>
            </li>
        </ul>

        
    </div>
  
</main>