<main role="main" id="contact" class="contact ">
    <div class="container-fluid container-md">
        <div class="d-flex flex-column mt-3  position-relative">
            <div class=" title-chief text-monospace font-weight-bold ">联系我们</div>
            <div class=" title-second text-success fs-herbarium-latin-regular mt-3 ">Contact Us</div>
            <span class="diamond position-absolute ">&nbsp;</span>
            <span class="triangle position-absolute ">&nbsp;</span>
            <span class="square position-absolute ">&nbsp;</span>
            <span class="circle  position-absolute ">&nbsp;</span>
        </div>
        <div class=" contact-card my-3 ">
            <div class="row no-gutters">
                <div class="col-md-6 ">
                    <div class=" d-flex flex-column contact-info-color">
                        <div class="d-flex flex-row align-items-center mb-4 mb-md-1 mb-lg-4 ">
                            <img class="img-fuild mr-2 " src="{{site.baseurl}}/assets/images/30x30.png">
                            <span>杭州原基网络科技有限公司</span>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4 mb-md-1 mb-lg-4">
                            <img class="img-fuild mr-2 " src="{{site.baseurl}}/assets/images/30x30_1.png">
                            <span>400-803-1822</span>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4 mb-md-1 mb-lg-4">
                            <img class="img-fuild mr-2 " src="{{site.baseurl}}/assets/images/30x30_2.png">
                            <span><a href="mailto:info@zhaogemao.com">info@zhaogemao.com</a></span>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4 mb-md-1 mb-lg-4">
                            <img class="img-fuild mr-2 " src="{{site.baseurl}}/assets/images/30x30_3.png">
                            <span>浙江省杭州市上城区土山弄科创中心</span>
                        </div>
                    </div>
                    <div class="d-flex  flex-row align-items-center focus-qa">
                        <p style="font-size: 75%"><strong>关注我们:</strong></p>
                        <figure class="figure ml-4">
                            <img src="{{site.baseurl}}/assets/images/zhaogemao-gongzhonghao.jpg" class="figure-img img-fluid " style=" width:4rem;"  alt="...">
                            <figcaption class="figure-caption">找个毛公众号</figcaption>
                        </figure>
                        <figure class="figure ml-4">
                            <img src="{{site.baseurl}}/assets/images/zhaogeyang-caigouqiu.png" class="figure-img img-fluid "   style=" width:4rem;" alt="...">
                            <figcaption class=" figure-caption">找个样采购群</figcaption>
                        </figure>
                        <figure class="figure ml-4">
                            <img src="{{site.baseurl}}/assets/images/zhaogeyang-gongyingqiu.png" class="figure-img img-fluid" style=" width: 4rem;"  alt="...">
                            <figcaption class="figure-caption" >找个样供应群</figcaption>
                        </figure>
                    </div>
                    <div class="d-flex flex-row mt-3 mt-md-2 mt-lg-5 slogan ">
                        <span ><strong>     
            {% include svgs/slogan.svg  text ="便/捷/服/务/顾/客"  id="s-slogan" class="slogan-text"    %}
                        </strong></span>
                        <span ><strong>
                         {% include svgs/slogan.svg  text =" 诚/信/架/构/你/我"  id="s-slogan-2" class="slogan-text"    %}
                       </strong></span> 
                    </div>
                </div>
               <div class="col-md-6  mt-2 mt-md-0 border border-secondary rounded ">
                   <img src="{{site.baseurl}}/assets/images/svgs/location.svg" class=" img-fluid p-2 " alt="...">
               </div> 
            </div>
        </div>
    </div>
</main>