<main role="main" id="service" class="service">
    <div class="container-fluid container-md my-lg-5">
        <div class="row title-chief ">
            <div class="col-2 col-md-3 ">
                <div class="chief-lineify"></div>
            </div>
            <div class="col-10 col-md-9 text-monospace font-weight-bold">项目服务<small class="text-muted">一切皆以客户为中心</small></div>
        </div>
        <div class="row mt-3 mb-auto ">
            <div class="col-2 offset-2 offset-md-3 "><span class="title-second text-success fs-herbarium-latin-regular">SERVICES</span></div>
            <div class="col-8 col-md-7">
                <div class="second-lineify"></div>
            </div>
        </div>
        <div class="card-columns cards my-2 my-lg-5 text-muted">
            <div class="card d-none card-bg">
                <img src="{{baseurl}}/assets/images/svgs/144x144fangdajing.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.search.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center text-success">{{ site.data.service.search.title }}</h1>
                    <h6 class="card-text  text-start text-monospace font-weight-bold">
                        <div class="text-body"><span class="text-white" id="typed-text-1"></span></div>
                        <div id="typed-strings-1">
                            <p>&nbsp;&nbsp;{{  site.data.service.search.content  }}</p>
                        </div>
                    </h6>
                </div>
               
            </div>
            <div class="card">
                <img src="{{baseurl}}/assets/images/svgs/144x144fangdajing-gray.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.search.title  }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center">{{ site.data.service.search.title }}</h1>
                    <h6 class="card-text text-dark  text-start text-monospace font-weight-bold">&nbsp;&nbsp;{{ site.data.service.search.content }}</h6>
                </div>
                
            </div>
             
        
         <div class="card d-none card-bg">
                <img src="{{baseurl}}/assets/images/svgs/144brand.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.brand.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center text-success">{{ site.data.service.brand.title }}</h1>
                    <h6 class="card-text  text-start text-monospace font-weight-bold">
                        <div class="text-body"><span class="text-white" id="typed-text-2"></span></div>
                        <div id="typed-strings-2">
                            <p>&nbsp;&nbsp;{{ site.data.service.brand.content }}</p>
                        </div>
                    </h6>
                </div>

           
            </div>

              <div class="card">
                <img src="{{baseurl}}/assets/images/svgs/144brand-gray.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.brand.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center">{{ site.data.service.brand.title }}</h1>
                    <h6 class="card-text text-dark text-start text-monospace font-weight-bold">&nbsp;&nbsp;{{ site.data.service.brand.content }}</h6>
                </div>


            </div>

            <div class="card card-bg d-none">
                <img src="{{baseurl}}/assets/images/svgs/144yun.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.aierp.title }}">

                   <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center text-success">{{ site.data.service.aierp.title }}</h1>
                    <h6 class="card-text  text-start text-monospace font-weight-bold">
                        <div class="text-body"><span class="text-white" id="typed-text-3"></span></div>
                        <div id="typed-strings-3">
                            <p>&nbsp;&nbsp;{{ site.data.service.aierp.content }}</p>
                        </div>
                    </h6>
                </div>

   

             
            </div>


         <div class="card">
                <img src="{{baseurl}}/assets/images/svgs/144yun-gray.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.aierp.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center">{{ site.data.service.aierp.title }}</h1>
                    <h6 class="card-text text-dark  text-start text-monospace font-weight-bold">&nbsp;&nbsp;{{ site.data.service.aierp.content }}</h6>
                </div>
            
           
        </div>
        
         <div class="card d-none card-bg">
                <img src="{{baseurl}}/assets/images/svgs/144jiqiren.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.aiemployee.title }}">
                  <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center text-success">{{ site.data.service.aiemployee.title }}</h1>
                    <h6 class="card-text  text-start text-monospace font-weight-bold">
                        <div class="text-body"><span class="text-white" id="typed-text-4"></span></div>
                        <div id="typed-strings-4">
                            <p>&nbsp;&nbsp;{{ site.data.service.aiemployee.content }}</p>
                        </div>
                    </h6>
                </div>

            
            </div>

             <div class="card">
                <img src="{{baseurl}}/assets/images/svgs/144jiqiren-gray.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.aiemployee.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center">{{ site.data.service.aiemployee.title }}</h1>
                    <h6 class="card-text text-dark  text-start text-monospace font-weight-bold">&nbsp;&nbsp;{{ site.data.service.aiemployee.content }}</h6>
                </div>

       

            </div>


               <div class="card card-bg d-none">
                <img src="{{baseurl}}/assets/images/svgs/144resource.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.resource.title }}">

                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center text-success">{{ site.data.service.resource.title }}</h1>
                    <h6 class="card-text  text-start text-monospace font-weight-bold">
                        <div class="text-body"><span class="text-white" id="typed-text-5"></span></div>
                        <div id="typed-strings-5">
                            <p>&nbsp;&nbsp;{{ site.data.service.resource.content }}</p>
                        </div>
                    </h6>
                </div>

       

            
            </div> 



              <div class="card">
                <img src="{{baseurl}}/assets/images/svgs/144resource-gray.svg" class="card-img-top card-icon img-fluid figure-img" alt="{{ site.data.service.resource.title }}">
                <div class="card-body">
                    <h1 class="card-title font-weight-bolder text-center">{{ site.data.service.resource.title }}</h1>
                    <h6 class="card-text text-dark text-start text-monospace font-weight-bold">&nbsp;&nbsp;{{ site.data.service.resource.content }}</h6>
                </div>

       

            </div> 
        </div>
    </div>
</main>