.text-purple { color: #8a63d2 !important; }
.text-yellow { color: #ffdf5d !important; }
.text-orange { color: #fb8532 !important; }
.text-green { color: #34d058 !important; }
.text-blue { color: #2188ff !important; }
.text-teal { color: $teal !important;}